# Example env file for micro-frontends build/runtime
# Copy this file to micro-frontends/.env and fill the real values.
# When using Docker Compose, pass the same variables through env_file or environment to the container.

# IPS dashboard (no ICVP)
IPS_REGIONAL_BASE=https://apiopenhim.nodonacionalph4h-dev.minsal.cl/regional
IPS_BASIC_USER=mediator-proxy@openhim.org
IPS_BASIC_PASS=your-secret-password
IPS_VHL_ISSUANCE_URL=https://apiopenhim.nodonacionalph4h-dev.minsal.cl/vhl/_generate
IPS_VHL_RESOLVE_URL=https://apiopenhim.nodonacionalph4h-dev.minsal.cl/vhl/_resolve

# IPS-ICVP dashboard
ICVP_REGIONAL_BASE=https://apiopenhim.nodonacionalph4h-dev.minsal.cl/regional
ICVP_BASIC_USER=mediator-proxy@openhim.org
ICVP_BASIC_PASS=your-secret-password
ICVP_VHL_ISSUANCE_URL=https://apiopenhim.nodonacionalph4h-dev.minsal.cl/vhl/_generate
ICVP_VHL_RESOLVE_URL=https://apiopenhim.nodonacionalph4h-dev.minsal.cl/vhl/_resolve
ICVP_FROM_BUNDLE_URL=https://apiopenhim.nodonacionalph4h-dev.minsal.cl/icvpcert/_from-bundle
ICVP_BASE=signer.nodonacionalph4h-dev.minsal.cl
