<mfe-next-ui-patient-alergies-control ng-if="::(section.type === 'allergies')" host-data="allergyData" app-service="appService"></mfe-next-ui-patient-alergies-control>
<mfe-next-ui-form-display-control ng-if="::(section.type === 'formsV2React')" host-data="formData"  host-api="formApi"></mfe-next-ui-form-display-control>
<mfe-next-ui-vacunas-display-control ng-if="::(section.type === 'vacunasReact')" host-data="vacunasData" app-service="appService"></mfe-next-ui-vacunas-display-control>
<mfe-next-ui-ips-display-control
        ng-if="::(section.type === 'ipsReact')"
        host-data="ipsData"
        host-api="ipsApi"
        app-service="appService">
</mfe-next-ui-ips-display-control>
<mfe-next-ui-ips-icvp-display-control
        ng-if="::(section.type === 'ipsIcvpReact')"
        host-data="ipsData"
        host-api="ipsApi"
        app-service="appService">
</mfe-next-ui-ips-icvp-display-control>
<mfe-next-ui-service-request-display-control
        ng-if="::(section.type === 'serviceRequestReact')"
        host-data="ipsData"
        host-api="ipsApi"
        app-service="appService">
</mfe-next-ui-service-request-display-control>
<mfe-next-ui-medication-statement-display-control
        ng-if="::(section.type === 'medicationStatementReact')"
        host-data="ipsData"
        host-api="ipsApi"
        app-service="appService">
</mfe-next-ui-medication-statement-display-control>
<mfe-next-ui-all-orders-dashboard
        ng-if="::(section.type === 'allOrdersReact')"
        host-data="allOrdersData"
        host-api="allOrdersApi">
</mfe-next-ui-all-orders-dashboard>
